body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
    color: #434455;
    font-size: 16px;

    /* ul { list-style-type: none;    }*/
        /* #2E2F42 */
}
.container {
    margin: 0 auto;
    max-width: 1158px;
    padding: 0 15px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.logo-studio {
    color: #2E2F42;
       
}

address {
    font-style: normal;
}

.address-link {
    color: #434455;
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
 .address-list {
    display: flex;
    gap: 40px;

 }

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.header {
    border-bottom: 1px solid #E7E9FC;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.header-nav {
    display: flex;
    align-items: center;
    }

.nav-link {
    font-family: inherit;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: inline-block;
    padding: 24px 0;
}

.nav-list {
display: flex;
gap: 40px;
flex-grow: 1;
justify-content: center;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: #404BBF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.hero-section {
padding: 188px 0;
background-color: #2E2F42;
}

.hero-inner {
    
    
}
.hero-title {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px;
    margin: 0 auto;
}

.button {
    font-family: inherit;
    color: #FFF;
    background-color: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    display: inline-flex;
    margin: 48px auto 0;
    display: block;
    min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
    
}

.section {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
    
}

.feature-item {
    flex-basis: calc((100% - 72px) / 4);
    margin: 0 auto;
}

.features-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team {
    background-color: #F4F4FD;
    }

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;    
}

.team-item {
    display: block;
    background-color: #FFF;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.member-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px
}

.member-info {
    padding: 32px 0;
}

.member-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;    
}

.portfolio-info {
    
    
    display: flex;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    
      
}

.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    
}

.portfolio-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;  
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}


.footer-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-studio {
    color: #F4F4FD;
}
.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    
}
